.create-clay {
  background-color: #ffb413;        /* 입력용도 다른 색상 */
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.create-clay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../../textures/clay\ texture.jpg") repeat;
  opacity: 0.5;           /* 노이즈 강도 조절 */
   mix-blend-mode: multiply;
  pointer-events: none;
  border-radius: inherit;
}

.create-clay-input {
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
  font-size: 1rem;
  outline: none;
}